:root {
    --vh: 1vh;
    --amgen-blue:rgb(0,99,195);

  }
  
  body {
    padding: 0;
    margin: 0;
    /* min-height: 100vh; */
    /* min-height: calc(var(--vh, 1vh) * 100); */
  }

/*----- HEADER -------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: var(--amgen-blue);
    color: white;
    height: 50px;

    z-index: 999;
    display: flex;
}

.header-item {
    margin: auto 0px;
} 

.header-item img {
    width: 100px;
    margin: 0 5px; 
}

.header-title {
    margin-left: 10px;
}

.header-title h1 {
    margin-bottom: 0;
}
/*----- NAVIGATION BAR -------------------------------*/
nav {
    background-color: var(--amgen-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.menu-li {
    text-align: center;
    height: 40px;
}

.menu-li > a{
    color: white;
    text-decoration: none;
}

.icon-title {
    font-size: 0.8rem;
}

.icon-active-page{
    border-bottom: 2px solid white;
}

/*----- CALENDAR -------------------------------*/

.calendar {
    height: calc(var(--vh, 1vh) * 100 - 120px); 
    /* height: calc(100vh - 120px);  */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;       
    margin: 10px 5px;
    padding: 5px;
    border-radius: 10px;
}

.fc-header-toolbar {
    margin-bottom: 1em !important; 
}

.fc-footer-toolbar {
    margin-top: 1em !important;
}

thead {
    background-color: rgb(217,83,79);
}

.fc-col-header-cell-cushion {
    color: white !important;
    text-decoration: none;
}

/*----- FORM -------------------------------*/

.form-container {
    height: calc(var(--vh, 1vh) * 100 - 120px);
    margin: 50px 5px -30px 5px;
}

form {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;        
}

form > p {
    text-align: center;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }

 #form {
    animation-duration: 1s; 
    animation-fill-mode: both;
 }

 .shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}

/*----- DETAIL -------------------------------*/

.detail-flex {
    display: flex;
    flex-direction: column;
}

main{
    margin-top: 55px;
}

.detail-main {
    /* margin-top:55px; */
}

.div-notes{
    margin-left: 10px;
}

strong {
    color: var(--amgen-blue);
}

.notes-footer {
    text-align: right;
    font-style: italic;
}

.table-container{
    margin: 0 5px; 
    padding: 0 5px 20px 5px; 
    overflow:scroll;
}

.table-container-noscroll{
    margin: 0 5px; 
    padding: 0 5px 20px 5px; 
}

.div-notes > h4 {
    text-align: center;
}

@media screen and (min-width:768px) {
    .detail-flex{
        flex-direction: row;
    }

    .detail-notes{
        position: fixed;
        top: 50px;
        right: 0;
        bottom: 50px;
        width: 30vw;
    }

    .detail-main{
        margin-bottom: 60px; 
    }

    #table_notes_id_wrapper > table > tbody {
        display: block;
        overflow: scroll;
        height: calc(100vh - 325px);
    }

    #table_notes_id_filter {
        float: initial;
        text-align: center;
    }

    .main-last-child-flex {
        margin-bottom: 20px !important;
    }
}

.detail-main{
    flex-basis: 69vw;
}

.detail-notes{
    flex-basis: 30vw;
}

.detail {
    margin: 10px 5px 100px 5px;
    padding: 0 0 10px 0;
    border-radius:5px;
}

#info {
    margin-bottom: 20px;
}

.detail > h2 {
    text-align: center;
    margin-bottom: 15px;
}

.detail > h3 {
    text-align: center;
    margin-bottom: 1rem !important;
    
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    background-color: var(--amgen-blue);
}

.div-remises > h4, p {
    margin-left:10px;
}

#planning,#offres, #remises, #notes {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;        

}

.div-remises:last-of-type{

    margin-top: 10px;
}

.table-general > div {
    margin: 0 5px;
    flex-basis: 50%;
} 

table {
    border-radius: 5px;
}

thead > tr th:first-of-type{
    border-top-left-radius:5px;
}

thead > tr th:last-of-type{
    border-top-right-radius:5px;
}

.search-table-icon {
    border: 1px solid #aaa;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.detail-blue-icon, .detail-green-icon, .detail-orange-icon, .detail-red-icon {
    color: white;
    background-color: var(--amgen-blue);
    border-radius: 5px;
    padding: 5px; 
}

.detail-blue-icon{
    background-color: var(--amgen-blue);
}

.detail-green-icon {
    background-color: green;
}

.detail-red-icon{
    background-color: red;
}

.detail-orange-icon {
    background-color: orange;
}
/*----- DETAIL > PLANNING -------------------------------*/

.chart {
    margin: 0 5px;
    border-radius: 5px;
    background-color: white;
}

.chart > div {
    width: 100% !important;
    overflow: hidden;
    margin: 5px;
    left: -5px;
}

/*----- FOOTER -------------------------------*/

.menu-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main-last-child{
    margin-bottom: 60px;
}
/*----- DETAIL -------------------------------*/
/*----- DETAIL -------------------------------*/
/*----- DETAIL -------------------------------*/
/*----- DETAIL -------------------------------*/
/*----- DETAIL -------------------------------*/
/*----- DETAIL -------------------------------*/
 